/*forms*/
fieldset {
	border:none;	
	padding:0;
	margin:0;
}
legend {
	display:none;	
}
textarea {
	font-family: 'cabinregular', Arial, sans-serif;
}
.error {
	float:right;
	color:#1ba1e2;	
	font-weight:normal;
	margin:0 0 8px 10px;
	font-size:10px;
}
.errorbox {
	background: #ECD27D;
	font-family: 'cabinbold', helvetica, arial, sans-serif;
	padding: 20px 15px;
	width: 300px;
	text-align: left;
	color: black;
	font-size: 15px;
	line-height: 18px;
	margin: 20px 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position: absolute;
	left: 0;
	top: 552px;
}

.form-container {
   border: none;
   font-family: 'cabinregular',Helvetica,sans-serif;
   text-decoration: none;
   background:#F2F2F2;
   width:560px;
   border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:20px;
}


   
.form-field {
   border: none;
   background: #FFF;
   color: #333;
   padding:8px;
   margin-bottom:30px;
   width:250px;
   height:20px;
   font-size:13px;
   font-family: 'cabinregular',Helvetica,sans-serif;
   }
   
.form-field-full {
   border: none;
   background: #FFF;
   color: #333;
   padding:8px;
   margin-bottom:30px;
   width:545px;
   height:20px;
   font-size:13px;
   font-family: 'cabinregular',Helvetica,sans-serif;
   }
   
   
.form-field:focus,.form-field-full:focus {
   background: #666;
   color: #FFF;
   }

.submit-container {
   margin:8px 0;
   text-align:right;
   }

   
.form-box{
 	border: none;
   background: #FFF;
   color: #333;
   padding:8px;
   margin-bottom:10px;
   font-size:13px;
   font-family: 'cabinregular',Helvetica,sans-serif;
   width:540px;
   height:73px; 
   resize:none;
  }
   
.text {
	font-family: 'cabinregular',Helvetica,sans-serif;
	margin: 0 0 10px 0;
	font-size: 14px;
	letter-spacing: 0.6px;
	line-height: 27px;
	color: #FFF;
	font-weight: normal!important;	
}

.form-sub-wrapper{
	width:285px;
	margin:0 0 10px 0;
}

.form-sub-wrapper2{
	width:595px;
	margin:0 0 10px 0;
}

.form-container label{
	font-family: 'cabinbold', Helvetica,Arial, sans-serif;
	font-size:15px;
	line-height:30px;
	margin: 0 0 5px 0;
	color:#333;	
	font-weight:normal !important;
}

.asterisk{
	color:#900;	
}

.form-container .spacebreak{
	height:25px;
}
