/* Copyright streeten.com */
/* Copyright S B Communications Ltd. */

/* CSS Document */


h2 {
	color:#000000;
	font-size:1.3em;
	font-weight: lighter;
	margin:0 0 0.3em 0;
	padding:0;
}

#login {
	float:right;
	width:500px;
	top:60px;
	right:30px;
	position:relative;
	font-family: 'cabinmedium', Helvetica,Arial, sans-serif;
	font-size:16px;
}

#frmLogin2
{
	float:right;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}

#login a img {
border:none;
}

/* REGISTRATION FORM BEGIN  */

.smallprint{
	font:11px/1.1em "Arial", Arial, Helvetica, sans-serif;
}
#regformwrap {
	padding:30px 0px 0px 14px;
	float:left;
	display:block;
}
.cell-1,.cell-2,.cell-3{
	float:left; padding-right:5px;
}
#regformwrap .rowwrap{
	width:450px;
	clear:both;
	padding:5px 0px 2px 0px;
}
#regformwrap .cell-1{
	padding-top:3px;
	width:200px;
	text-align:right;
}

#regformwrap .cell-5{
	padding-top:3px;
	width:175px;
	text-align:center;
}
#regformwrap .cell-3{
	padding-top:3px;
	padding-left:5px;
}
#regformwrap .first{
	padding:15px 0px 2px 0px;
}
#regformwrap .last{
	padding:2px 0px 10px 0px;
}
#regformwrap .search{
	padding:7px 0px 7px 0px;
}
#regformwrap .submitbutton{
	padding:14px 0px 0px 0px;
}
#regformwrap SELECT.drop{
	border: #999999 1px solid;
	color:#000000;
	padding:1px 1px 1px 1px;
	font-family: 'cabinmedium', Helvetica,Arial, sans-serif;
}
#regformwrap SELECT.long{
	width:180px;
}
#regformwrap  SELECT.short{
	width:75px;
}
#regformwrap  SELECT.date{
	width:60px;
}

#regformwrap  INPUT.text{
	border: #999999 1px solid;
	color:#000000;
	padding:1px 1px 1px 3px;
	font-family: 'cabinmedium', Helvetica,Arial, sans-serif;
}
#regformwrap INPUT.short{
	width:61px;
}
#regformwrap INPUT.long{
	width:161px;
}
#regformwrap INPUT.postcode{
	width:90px;
}
#regformwrap TEXTAREA{
	width:161px;
	border: #999999 1px solid;
	color:#000000;
	padding:1px 1px 1px 3px;
	font-family: 'cabinmedium', Helvetica,Arial, sans-serif;
}

#regformwrap .active a{
	color:#5cb0df;
	clear:none;	
	padding:0px 0px 5px 16px;
	font-family: 'cabinmedium', Helvetica,Arial, sans-serif;
	font-weight:bold;

} 

.button {
	width: 30px;
	height:30px;
}

.title3 {
	text-align:left;
	border-bottom: 1px solid #d0d3d5;
	font-size:13px;
}

.table { 
	font-size:12px; 
	font-family: 'cabinmedium', Helvetica,Arial, sans-serif;
	height: 20px;
	cursor:pointer;
}


.tablehover {
	background-color: #EAC117;
}

.fontstyle th, td {
	font-family: 'cabinmedium', Helvetica,Arial, sans-serif;
	font-size:15px;
	color:#777777;
}

.fontstyle.headings {
	font-size:14px; 
	font-family: 'cabinmedium', Helvetica,Arial, sans-serif;
}

.fontstyle input, .fontstyle textarea, .fontstyle select {
	font-size:13px; 
	font-family: 'cabinmedium', Helvetica,Arial, sans-serif;
}

.singlebutton {
	background-image:url(../images/sumi_buttons_05.png); 
	background-repeat:repeat-x;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    cursor:pointer;
    text-decoration:none;
    border:none;
    float:left;
    height: 19px;
}

.singlebuttoncenter {
	background-image:url(../images/sumi_buttons_05.png); 
	background-repeat:repeat-x;
    color:white;
   font-family: 'cabinmedium', Helvetica,Arial, sans-serif;
    font-size:12px;
    font-weight:bold;
    cursor:pointer;
    text-decoration:none;
    border:none;
    display:inline-block;
    vertical-align:middle;
    height: 19px;
}

.singlebuttoncenterside {
    display:inline-block; 
    vertical-align:middle;
    width: 11px;
    height: 19px;
}

.doublebutton {
	background-image:url(../member/premier/images/buttons_05a.png); 
	background-repeat:repeat-x;
}

.doublebutton a{
	text-decoration:none;
	color:white;
	font-family: 'cabinmedium', Helvetica,Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
}

.fontstyle2 {
	font-family: 'cabinmedium', Helvetica,Arial, sans-serif;
	font-size:0.8em;
}

a.join {
	font-family: 'cabinmedium', Helvetica,Arial, sans-serif;
	font-size:0.8em;
	text-decoration:none;
	font-weight:bold;
	color:black;
}

a.join:hover {
	color:#EAC117;
}

a.go:hover {
	color:#151B54;
}

.fontstyle3 {
	font-family: 'cabinmedium', Helvetica,Arial, sans-serif;
	font-size:12px;
}

a.go {
	text-decoration:none;
}

.fontstyle4 {
	font-family: 'cabinmedium', Helvetica,Arial, sans-serif;
	font-size:11px;
}
